openapi: 3.1.0
info:
  title: GitBook Change Request Content Space Users API
  description: The GitBook REST API enables you to programmatically manage your GitBook content, organizations, spaces, collections, and integrations. It supports creating, updating, and deleting organizations, spaces, collections, and published docs sites; managing users, teams, and access permissions; importing and exporting content; creating, listing, reviewing, merging, and updating change requests; managing comments; configuring custom hostnames and URLs; and managing integrations and OpenAPI documentation.
  version: 1.0.0
  contact:
    name: GitBook
    url: https://www.gitbook.com
  license:
    name: Proprietary
    url: https://www.gitbook.com/terms
servers:
- url: https://api.gitbook.com/v1
  description: GitBook API v1
security:
- bearerAuth: []
tags:
- name: Space Users
  description: Manage user permissions within a space.
paths:
  /spaces/{spaceId}/permissions/users:
    get:
      operationId: listSpaceUsers
      summary: GitBook List space user permissions
      description: Returns the list of users with permissions on a space.
      tags:
      - Space Users
      parameters:
      - $ref: '#/components/parameters/spaceId'
      - $ref: '#/components/parameters/pageParam'
      - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: A list of space users.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/SpaceUser'
                  next:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /spaces/{spaceId}/permissions/users/{userId}:
    patch:
      operationId: updateSpaceUser
      summary: GitBook Update space user permissions
      description: Updates a user's permission role on a space.
      tags:
      - Space Users
      parameters:
      - $ref: '#/components/parameters/spaceId'
      - $ref: '#/components/parameters/userId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - role
              properties:
                role:
                  $ref: '#/components/schemas/SpaceRole'
      responses:
        '200':
          description: The updated space user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpaceUser'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: removeSpaceUser
      summary: GitBook Remove a space user
      description: Removes a user's permissions from a space.
      tags:
      - Space Users
      parameters:
      - $ref: '#/components/parameters/spaceId'
      - $ref: '#/components/parameters/userId'
      responses:
        '204':
          description: User removed from space successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    userId:
      name: userId
      in: path
      required: true
      description: The unique identifier of the user.
      schema:
        type: string
    limitParam:
      name: limit
      in: query
      description: Maximum number of items to return per page.
      schema:
        type: integer
        default: 20
        maximum: 100
    pageParam:
      name: page
      in: query
      description: Pagination cursor for the next page of results.
      schema:
        type: string
    spaceId:
      name: spaceId
      in: path
      required: true
      description: The unique identifier of the space.
      schema:
        type: string
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the user.
        displayName:
          type: string
          description: The display name of the user.
        email:
          type: string
          format: email
          description: The email address of the user.
        photoURL:
          type: string
          format: uri
          description: URL to the user's profile photo.
        urls:
          type: object
          properties:
            app:
              type: string
              format: uri
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
              description: The HTTP error code.
            message:
              type: string
              description: A description of the error.
    SpaceUser:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        role:
          $ref: '#/components/schemas/SpaceRole'
    SpaceRole:
      type: string
      enum:
      - admin
      - create
      - review
      - edit
      - comment
      - read
      description: The permission role of a user on a space.
    Pagination:
      type: object
      properties:
        page:
          type: string
          description: The cursor for the next page of results.
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Authentication is required or the token is invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
      description: API access token. Generate one from the Developer settings of your GitBook user account.
