openapi: 3.2.0
info:
  title: GitBook Collections API
  description: The GitBook REST API enables you to programmatically manage your GitBook content, organizations, spaces, collections, and integrations.
  version: 1.0.0
  contact:
    name: GitBook
    url: https://www.gitbook.com
  license:
    name: Proprietary
    url: https://www.gitbook.com/terms
servers:
- url: https://api.gitbook.com/v1
  description: GitBook API v1
security:
- bearerAuth: []
tags:
- name: Collections
  description: Organize and manage grouped sets of spaces.
paths:
  /orgs/{organizationId}/collections:
    get:
      operationId: listCollectionsInOrganization
      summary: GitBook List collections
      description: Returns the list of collections in an organization.
      tags:
      - Collections
      parameters:
      - $ref: '#/components/parameters/organizationId'
      - $ref: '#/components/parameters/pageParam'
      - $ref: '#/components/parameters/limitParam'
      responses:
        '200':
          description: A list of collections.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Collection'
                  next:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: createCollection
      summary: GitBook Create a collection
      description: Creates a new collection in an organization.
      tags:
      - Collections
      parameters:
      - $ref: '#/components/parameters/organizationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - title
              properties:
                title:
                  type: string
                  description: The title of the collection.
      responses:
        '201':
          description: The newly created collection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /collections/{collectionId}:
    get:
      operationId: getCollection
      summary: GitBook Get a collection
      description: Returns a collection by its ID.
      tags:
      - Collections
      parameters:
      - $ref: '#/components/parameters/collectionId'
      responses:
        '200':
          description: The requested collection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteCollection
      summary: GitBook Delete a collection
      description: Deletes a collection.
      tags:
      - Collections
      parameters:
      - $ref: '#/components/parameters/collectionId'
      responses:
        '204':
          description: Collection deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Pagination:
      type: object
      properties:
        page:
          type: string
          description: The cursor for the next page of results.
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
              description: The HTTP error code.
            message:
              type: string
              description: A description of the error.
    Collection:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the collection.
        title:
          type: string
          description: The title of the collection.
        description:
          type: string
          description: The description of the collection.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
  responses:
    Unauthorized:
      description: Authentication is required or the token is invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    pageParam:
      name: page
      in: query
      description: Pagination cursor for the next page of results.
      schema:
        type: string
    limitParam:
      name: limit
      in: query
      description: Maximum number of items to return per page.
      schema:
        type: integer
        default: 20
        maximum: 100
    collectionId:
      name: collectionId
      in: path
      required: true
      description: The unique identifier of the collection.
      schema:
        type: string
    organizationId:
      name: organizationId
      in: path
      required: true
      description: The unique identifier of the organization.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: token
      description: API access token. Generate one from the Developer settings of your GitBook user account.
